.game-of-life__boat-cell {
  position: absolute;
  background-color: black;
  width: 12px;
  height: 12px;
}

.game-of-life__boat-cell--1 {
  top: 14px;
  left: 14px;
}

.game-of-life__boat-cell--2 {
  top: 14px;
  left: 26px;
}

.game-of-life__boat-cell--3 {
  top: 26px;
  left: 14px;
}

.game-of-life__boat-cell--4 {
  top: 26px;
  left: 38px;
}

.game-of-life__boat-cell--5 {
  top: 38px;
  left: 26px;
}