
.index {
  height: 100%;
  background: #3c3e3f;
  color: rgb(158, 159, 159);
}

.index__game-of-life {
  position: relative;
}

.index__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}

.index__content {
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, #3c3e3f, #2f2f2f);

  // for the heart icon
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.heart {
  color: #3c3e3f;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.greeting {
  font-weight: bold;
  opacity: 0.5;
  font-size: 1rem;

  margin: 1rem;

  a {
    color: #cfcfcf;
  }

  a:focus, a:hover, a:active {
    color: #ffffff;
  }

  width: 30%;

  @media screen and (max-width: 768px) {
    width: initial;
  }
}

.social {
  margin-top: 0.5rem;
}

.social > a {
  margin-right: 1rem;
}
