@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;800&display=swap");

$font-family: 'Roboto', sans-serif;
$font-family-headings: 'Poppins', sans-serif;

$color-default: #3a3a3a;
$color-muted: #6c6c6e;
$color-accent: #ffed00;
$color-accent: #04b8ff;
//$color-accent: #ff8232; // apptimia

$heading-accent-size: 5pt;

.heading--accent {
  padding-left: $heading-accent-size;
  border-left: solid $heading-accent-size $color-accent;
}

.resume__canvas {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.3in;
  //width: 8.5in;
  //height: 12in;
  width: 21cm;
  //height: 297mm;
  background-color: white;
}

@page {
  size: 210mm 297mm;
}

.resume {
  background-color: #f5f7fa;
  color: $color-default;
}

.resume__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 0;
  grid-row-gap: 0;

  font-size: 11pt;
  line-height: 20pt;
  font-family: $font-family;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
    letter-spacing: -0.5px;
  }
}

.resume__header { grid-area: 1 / 1 / 2 / 8; }
.resume__sidebar { grid-area: 2 / 1 / 8 / 3; }
.resume__content { grid-area: 2 / 3 / 8 / 8; }

.resume__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.resume__name {
  font-family: 'Lato', sans-serif !important;
  letter-spacing: 0;
  line-height: 1;
}

.resume__specialty {
  color: $color-muted;
  font-weight: normal;
}

.resume__contact {
  text-align: right;
}

.resume__contact-entry {
  i {
    margin-left: 0.875rem;
    color: $color-muted;
  }
}

.resume__block {
  margin-bottom: 1.5rem;

  > h2 {
    margin-bottom: 0.875rem;
  }
}

.resume__content {
  margin-left: 3rem;
}

.resume__skills .resume__entry {
  margin-bottom: 0.5rem; // pills have a margin, lower the entry margin
}

.resume__skills-container {
  display: flex;
  flex-wrap: wrap;
}

.resume__skills-description {
  margin-bottom: 0.5rem;
}

.resume__skill {
  display: inline;
  padding: 0 0.5rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 8pt;
}

.resume__primary-skills {
  .resume__skill {
    background: change-color($color-accent, $alpha: 0.35);
  }
}


.resume__secondary-skills {
  .resume__skill {
    background: change-color($color-accent, $alpha: 0.25);
  }
}

.resume__tertiary-skills {
  .resume__skill {
    background: change-color($color-accent, $alpha: 0.15);
  }
}

.resume__language {
  margin-bottom: 0.5rem;
}

.resume__entry {
  margin-bottom: 1rem;

  ul {
    margin-top: 1rem;
  }
}

.resume__entry-what-when {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.resume__entry-date {
  text-align: right;
  white-space: nowrap;
}

.resume__entry-name {
  font-size: 1rem;
  font-weight: bold;
}

.resume__entry-description {
  color: $color-muted;
  line-height: 1.5;
}

.gdpr-consent {
  line-height: 1.2;
  font-size: 0.6rem;
  color: $color-muted;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html, body {
    width: 210mm;
    height: 297mm;
  }

  .resume {
    background-color: unset;
  }

  .resume__canvas {
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: unset;
  }
}
