.game-of-life__controls {
	position: absolute;
	bottom: 3rem;
	right: 3rem;
}
.game-of-life__controls .game-of-life__toggle {
	display: inline-block;
	position: relative;
	outline: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	width: 60px;
	height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 32px;
	background: #eee;
	color: #00A3DD;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	transition:0.2s opacity ease-in-out;
	-webkit-transition:0.2s opacity ease-in-out;
}
.game-of-life__controls .game-of-life__panel {
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 340px;
	text-align: left;
	overflow: hidden;
	visibility: hidden;
	transform: scale(0);
	transform-origin: 100% 100%;
	transition: transform 0.2s, visibility 0s 0.2s, opacity 0.2s;
	opacity: 0;
}
.game-of-life__panel {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
}
.game-of-life__panel:focus {
  outline: initial; 
}
.game-of-life__controls .game-of-life__panel.active {
	height: auto;
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: transform 0.2s, visibility 0s 0s, opacity 0.2s;
}
/*.game-of-life__controls .panel-header {
	padding: 20px;
	font-size: 15px;
	background-color: #1D70A2;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.game-of-life__controls .panel-body {
	padding: 10px 20px;
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 11px;
	color: #aaa;
}*/

.game-of-life__panel-controls {
	font-size: 15px;
	height: 30px;
	border-bottom: solid 1px grey;
	margin-bottom: 15px;
	text-align: center;
}

.game-of-life__panel-controls > i {
	padding: 0 5px;
}