.index {
  font-size: 1.2rem;
  position: relative;
  height: 100%;
}

.index--greeting {
  text-transform: uppercase;
  color: #3c3e3f;
  font-size: 2rem;
  padding: 2rem 0;
  border-bottom: solid 2px grey;
  margin-bottom: 2rem;
}

.index--cards {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  font-size: 1.2rem;
}

.index--hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  color: rgba(158, 159, 159, 0.5);
  width: 100%;
}

.index--notice {
  font-size: 1rem;
  position: absolute;
  width: 100%;
}

.social {
  font-size: 2.3rem;
  width: 100%;
}

.social > a {
  color: rgba(158, 159, 159, 0.5);
  padding: 10px;
}