.index {
  font-size: 1.2rem;
  position: relative;
  height: 100%;
}

.index--greeting {
  text-transform: uppercase;
  color: #3c3e3f;
  font-size: 2rem;
  padding: 2rem 0;
  border-bottom: solid 2px grey;
  margin-bottom: 2rem;
}

.index--cards {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  font-size: 1.2rem;
}
