.card {
  border: solid 1px #2f2f2f;
  background-color: #3c3e3f;
  color: #9e9f9f;
  padding: 10px;
  cursor: pointer;
}

.card--header {
  border-bottom: solid 1px #9e9f9f;
  padding: 5px 5px 10px;
  margin-bottom: 1rem;
}

.card--body {
  margin: 0;
}