.simple-header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgb(60, 62, 63)) bottom #fff no-repeat;
    background-size: 100% 5px;
    padding: 2rem 0;
    margin-bottom: 4rem;
}

.simple-header a {
    text-decoration: none;
}

.simple-header--home {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}