---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";
---

<footer class="mt-auto w-full px-4">
  <Hr noPadding />
  <div class="flex flex-col items-center justify-between py-6">
    <Socials rss />
  </div>
</footer>
