---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

type Props = {
  rss?: boolean;
};

const { rss = false } = Astro.props;
---

<div class="flex flex-wrap justify-center gap-1">
  {
    rss && (
      <LinkButton href="/rss.xml" className="p-2" title="RSS Feed">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 scale-110">
          <>
            <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z" />
            <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z" />
            <circle cx="6" cy="18" r="2" />
          </>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </LinkButton>
    )
  }

  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton href={social.href} className="p-2" title={social.linkTitle}>
        <Fragment set:html={socialIcons[social.name]} />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
