/* .well-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 500px;
  max-height: 420px;
  height: 100%;
  width: 100%;
  border-radius: 3px;
} */

.well-container {
  position: absolute;
  /* margin: auto; */
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* max-width: 500px; */
  /* max-height: 420px; */
  height: auto;
  /* width: 100%; */
  /* border-radius: 3px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.well-regular {
  max-width: 500px;
}

.well--large {
  max-width: 800px;
}

.well {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.well-edge {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
}

.well-edge--top,
.well-edge--bottom {
  width: calc(100% - 40px);
  height: 20px;
}

.well-edge--left,
.well-edge--right {
  width: 20px;
  height: calc(100% - 40px);
}

.well-edge--top {
  top: 0px;
}

.well-edge--bottom {
  bottom: 0px;
}

.well-edge--left {
  left: 0px;
}

.well-edge--right {
  right: 0px;
}

.well-content {
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  .well-container {
    height: 100%;
    max-height: calc(100vh - 8rem);
    top: 0;
    left: 0;
    transform: initial;
    margin: 2rem;
  }
}