@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}



/* Base rules */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Typography */
p {
  line-height: 2.5rem;
  margin: 1.5rem 0;
}

ul,
ol {
//  margin-top: 1.5rem;
//  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

//ul li,
//ol li {
//  line-height: 2rem;
//}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 3.5rem
}

h2 {
  font-size: 1.25rem
}

h3 {
  font-size: 1.0625rem
}

h4 {
  font-size: .9375rem
}

h5 {
  font-size: .8125rem
}

h6 {
  font-size: .625rem
}


pre {
  margin: 1rem 0;
  font-size: 1.2rem;
}

a {
  color: #0e3333;
}

a:focus, a:hover, a:active {
  color: #0e3333;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

kbd {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #f1f1f1;
  background-color: #212529;
  border-radius: .2rem;
}

/* Whatevs, just some styling */
input {
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cecece;
  border-radius: 0;
  outline: none;
  height: 2rem;
  padding: 0;
  box-sizing: border-box;
}

input[type="range"] {
  padding: 0 0.5rem;
  margin: 0;
  border: 0;
}

label {
  margin-bottom: 2px;
  font-size: 0.875rem;
}

.input-group {
  margin-bottom: 20px;
}

.icon-button:hover {
  background-color: #d2d2d2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.row {
  margin: 0 -10px;
}

/* Grid system */
.row:before,
.row:after {
  content:"";
  display: table;
  clear:both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 33.33%;
  padding: 0 10px;
}

.col-1 {
  width: 33.33%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 100%;
}
