<main id="main-content" class="mx-auto mt-8 w-full max-w-3xl px-4 pb-4">
  <div class="mb-2">
    <h1 class="text-2xl font-semibold sm:text-3xl">
      <slot name="title" />
    </h1>
  </div>

  <div class="mb-2">
    <slot name="description" />
  </div>

  <slot />
</main>
