---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { Post } from "types";

type Props = {
  posts: Post[];
};

const { posts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main>
    <Fragment slot="title">
      <span>Posts</span>
    </Fragment>

    <Fragment slot="description">
      <div class="prose">
        All opinions and hot takes are my own (or stolen from somebody else).
        This is my second attempt at having a blog - the last one didn't go so
        well, so I cannot guarantee there will be a lot of content, but I will
        try my best.
      </div>
    </Fragment>

    <ul>
      {
        posts.map(post => {
          const { slug } = post;

          return <Card href={`/posts/${slug}/`} post={post} />;
        })
      }
    </ul>
  </Main>

  <Footer />
</Layout>
